<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Employee</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Display">Home</a></li>
                <li class="breadcrumb-item">Employee</li>
                <li class="breadcrumb-item active"><a asp-controller="Admin" asp-action="Employee">Add Employee</a> </li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="card-title">Add Employee</h5>
                                </div>
                            </div>
                        </div>

                        <form asp-controller="UserAuthentication" asp-action="EmpRegistration" method="post" enctype="multipart/form-data" class="row">
                            <div class="col-md-4">
                                <label class="form-label" for="EmployeeCode">Employee Code<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="EmployeeCode" id="EmployeeCode" placeholder="For example: RSP10001" required />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label for="role">Role</label>
                                <select id="role" name="Role" class="form-select">
                                    <option value="">Select Role</option>
                                    <option value="hr">Hr</option>
                                    <option value="Manager">Manager</option>
                                    <option value="user">Employee</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Department Name<span class="text-danger">*</span></label>
                                <select class="form-select" name="DepartmentName">
                                    <option value="">Select Department</option>
                                    @if (Model != null)
                                    {
                                        foreach (var department in Model)
                                        {
                                            <option value="@department.Name">@department.Name</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Manager Name<span class="text-danger">*</span></label>
                                <input class="form-control" name="ManagerName" placeholder="Manager Name" />
                                <span class="text-danger"></span>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">First Name<span class="text-danger">*</span></label>
                                <input class="form-control" name="FirstName" placeholder="First Name" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Last Name<span class="text-danger">*</span></label>
                                <input class="form-control" name="LastName" placeholder="Last Name" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Gender<span class="text-danger">*</span></label>
                                <div class="d-flex">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Gender" id="male" value="Male">
                                        <label class="form-check-label" for="male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Gender" id="female" value="Female">
                                        <label class="form-check-label" for="female">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="Gender" id="other" value="Other">
                                        <label class="form-check-label" for="other">Other</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Date of Birth<span class="text-danger">*</span></label>
                                <input class="form-control" type="date" name="DateOfBirth" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Designation<span class="text-danger">*</span></label>
                                <input class="form-control" name="Designation" placeholder="Designation" />
                            </div>



                            <div class="col-md-4">
                                <label class="form-label">Date Of Joining<span class="text-danger">*</span></label>
                                <input type="date" class="form-control" name="DateOfJoining" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Experience Level<span class="text-danger">*</span></label>
                                <select class="form-select" name="ExperienceLevel">
                                    <option value="">Experience Level</option>
                                    @foreach (var level in ViewBag.ExperienceLevels)
                                    {
                                        <option value="@level.Name">@level.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Experience</label>
                                <input type="text" class="form-control" name="Experience" placeholder="Experience" />
                                <span class="text-danger"></span>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Father Name<span class="text-danger">*</span></label>
                                <input class="form-control" name="FatherName" placeholder="Father Name" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Marital Status<span class="text-danger">*</span></label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="MaritalStatus" id="married" value="Married" onclick="showAnniversary()">
                                    <label class="form-check-label" for="married">Married</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="MaritalStatus" id="unmarried" value="Unmarried" onclick="hideAnniversary()">
                                    <label class="form-check-label" for="unmarried">Unmarried</label>
                                </div>

                            </div>
                            <div class="col-md-4" id="anniversaryDiv" style="display:none;">
                                <label class="form-label">Date of Anniversary</label>
                                <input type="date" class="form-control" name="AnniversaryDate" id="AnniversaryDate">
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Contact Number<span class="text-danger">*</span></label>
                                <input class="form-control" id="employeeContact" name="EmployeeContact" placeholder="Contact Number" />
                                <span class="text-danger" id="contactError"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Alternate Number<span class="text-danger">*</span></label>
                                <input class="form-control" name="AlternateNumber" placeholder="Alternate Number" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Email (Official)e<span class="text-danger">*</span></label>
                                <input class="form-control" name="EmailOfficial" placeholder="Email (Official)" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Email (Personal)<span class="text-danger">*</span></label>
                                <input class="form-control" id="employeeEmailPersonal" name="EmailPersonal" placeholder="Email (Personal)" />
                                <span class="text-danger" id="emailError"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Aadhar Card Number<span class="text-danger">*</span></label>
                                <input class="form-control" id="employeeAadharCardNumber" name="AadharCardNumber" placeholder="Aadhar Card Number" />
                                <span class="text-danger" id="aadharCardNumberError"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">PAN Card Number<span class="text-danger">*</span></label>
                                <input class="form-control" id="employeePANCardNumber" name="PANCardNumber" placeholder="PAN Card Number" />
                                <span class="text-danger" id="panCardNumberError"></span>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Present Address<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="EmployeeAddress" name="PresentAddress" placeholder="Present Address"></textarea>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Permanent Address<span class="text-danger">*</span></label>
                                <textarea class="form-control" id="CorrespondenceAddress" name="PermanentAddress" placeholder="Permanent Address"></textarea>
                                <span class="text-danger"></span>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="sameAsAddress">
                                    <label class="form-check-label" for="sameAsAddress">Same as Present Address</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">State<span class="text-danger">*</span></label>
                                <select class="form-control" id="stateSelect" name="StateId">
                                    <option value="">Select State</option>
                                    @foreach (var state in ViewBag.States)
                                    {
                                        <option value="@state.Id">@state.Name</option>
                                    }
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">City<span class="text-danger">*</span></label>
                                <select class="form-control" id="citySelect" name="CityId">
                                    <option value="">Select City</option>
                                    @foreach (var city in ViewBag.Cities)
                                    {
                                        <option value="@city.Id" data-state="@city.StateId">@city.Name</option>
                                    }
                                </select>
                                <span class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">PAN Card<span class="text-danger">*</span></label>
                                <input type="file" class="form-control" name="PANCardFile" id="pancard" accept="image/*" />
                                <div id="pancardPreview"></div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Emp Images<span class="text-danger">*</span></label>
                                <input type="file" class="form-control" name="EmpImagesFile" id="EmpImages" accept="image/*" />
                                <div id="EmpImagesPreview"></div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Aadhaar Card<span class="text-danger">*</span></label>
                                <input type="file" class="form-control" name="AadhaarCardFile" id="aadhaarcard" accept="image/*" />
                                <div id="aadhaarcardPreview"></div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Bank Details<span class="text-danger">*</span></label>
                                <input type="file" class="form-control" name="BankDetailsFile" id="bankdetails" accept="image/*" />
                                <div id="bankdetailsPreview"></div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Education Details<span class="text-danger">*</span></label>
                                <input type="file" class="form-control" name="EducationDetailsFile" id="educationdetails" accept="image/*" />
                                <div id="educationdetailsPreview"></div>
                            </div>
                          
                            <div class="text-right mt-4">
                                <button type="submit" class="btn btn-sm btn-danger">Add Employee</button>
                            </div>
                        </form>
                        @if (TempData["msg"] != null)
                                        {
                                            <div class="msg">@TempData["msg"]</div>
                                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
       
        var citySelect = document.getElementById('citySelect');
        var cities = citySelect.getElementsByTagName('option');
        for (var i = 0; i < cities.length; i++) {
            cities[i].style.display = 'none';
        }
        document.getElementById('stateSelect').addEventListener('change', function () {
            var stateId = this.value;
            for (var i = 0; i < cities.length; i++) {
                var city = cities[i];
                if (city.dataset.state === stateId) {
                    city.style.display = '';
                } else {
                    city.style.display = 'none';
                }
            }
        });
        generateEmployeeCode();
    });

    let nextEmployeeCode = 10001;

    function generateEmployeeCode() {
        document.getElementById("EmployeeCode").value = "RSP" + nextEmployeeCode;
        nextEmployeeCode++;
    }
    $(document).ready(function () {
        $('#EmployeeAddress').on('input', function () {
            if ($('#sameAsAddress').is(':checked')) {
                $('#CorrespondenceAddress').val($(this).val());
            }
        });

        $('#sameAsAddress').on('change', function () {
            if ($(this).is(':checked')) {
                $('#CorrespondenceAddress').val($('#EmployeeAddress').val());
            } else {
                $('#CorrespondenceAddress').val('');
            }
        });
    });
    $(document).ready(function () {
        $('#pancard').on('change', function () {
            previewImage(this, 'pancardPreview');
        });

        $('#EmpImages').on('change', function () {
            previewImage(this, 'EmpImagesPreview');
        });

        $('#aadhaarcard').on('change', function () {
            previewImage(this, 'aadhaarcardPreview');
        });

        $('#bankdetails').on('change', function () {
            previewImage(this, 'bankdetailsPreview');
        });

        $('#educationdetails').on('change', function () {
            previewImage(this, 'educationdetailsPreview');
        });
    });

    function previewImage(input, previewId) {
        var file = input.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#' + previewId).html('<img src="' + e.target.result + '" style="max-width:100%; max-height:100%;">').show();
            }
            reader.readAsDataURL(file);
        }
    }
    function showAnniversary() {
        document.getElementById("anniversaryDiv").style.display = "block";
    }

    function hideAnniversary() {
        document.getElementById("anniversaryDiv").style.display = "none";
    }

    $('#employeeContact').on('blur', function () {
        debugger;
        var contactNumber = $(this).val().trim(); // Trim to remove any leading or trailing spaces
        $.ajax({
            url: '/Admin/CheckContactNumber',
            method: 'POST',
            data: { contactNumber: contactNumber }, // Send as form data
            success: function (response) {
                if (response.exists) {
                    $('#contactError').text('Contact number already exists.');
                } else {
                    $('#contactError').text('');
                }
            },
            error: function () {
                $('#contactError').text('Error checking contact number.');
            }
        });
    });

    $('#employeeEmailPersonal').on('blur', function () {
        debugger;
        var email = $(this).val().trim(); // Trim to remove any leading or trailing spaces
        $.ajax({
            url: '/Admin/CheckEmail',
            method: 'POST',
            data: { email: email }, // Send as form data
            success: function (response) {
                if (response.exists) {
                    $('#emailError').text('Email already exists.');
                } else {
                    $('#emailError').text('');
                }
            },
            error: function () {
                $('#emailError').text('Error checking email.');
            }
        });
    });
    $('#employeeAadharCardNumber').on('blur', function () {
        debugger;
        var aadharCardNumber = $(this).val().trim(); // Trim to remove any leading or trailing spaces
        $.ajax({
            url: '/Admin/CheckAadharCardNumber',
            method: 'POST',
            data: { aadharCardNumber: aadharCardNumber }, // Send as form data
            success: function (response) {
                if (response.exists) {
                    $('#aadharCardNumberError').text('Aadhar Card Number already exists.');
                } else {
                    $('#aadharCardNumberError').text('');
                }
            },
            error: function () {
                $('#aadharCardNumberError').text('Error checking Aadhar Card Number.');
            }
        });
    });
    $('#employeePANCardNumber').on('blur', function () {
        debugger;
        var panCardNumber = $(this).val().trim(); // Trim to remove any leading or trailing spaces
        $.ajax({
            url: '/Admin/CheckPANCardNumber',
            method: 'POST',
            data: { panCardNumber: panCardNumber }, // Send as form data
            success: function (response) {
                if (response.exists) {
                    $('#panCardNumberError').text('PAN Card Number already exists.');
                } else {
                    $('#panCardNumberError').text('');
                }
            },
            error: function () {
                $('#panCardNumberError').text('Error checking PAN Card Number.');
            }
        });
    });


</script>

